<!DOCTYPE>
<html>
	<head>
		<title>Student Registration</Title>
		<link href="home-page.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<style>
			body {
				background-color: #F1F3F3;
				font-family: 'Roboto', sans-serif;
				color: #465053; 
			}

			#top-bar {
				background-color: #FCD68A; 
				height: 58px; 
				width: 100%; 
			}

			#logo {
				height: 40px;
			}

			#subtitle {
				margin-left: 75px; 
			}

			#home-return {
				margin-left: 75px;
			}

			#user-info {
				width: 50%;
			}

			#class-signup {
				width: 50%;
			}

			.btn {
				background-color: #FCD68A;
			}
		</style>
</head>

<body>
	<div id="top-bar"></div>

	<div class="jumbotron">
		<div class="container">
			<a class="navbar-brand" href="#">
				<img id="logo" alt="FAQMan" src="http://i.imgur.com/uBa30uv.png">
			</a>
			<div class="container">
				<h2 id="heading">Welcome to FAQMan!</h2>
				<h3 id="subtitle">Please fill out this form to sign up!</h3>
				<a id="home-return" href='/goHome'>Click here to go back to the home page</a>
			</div>
		</div>
	</div>


	<div class="container">
		<h3 id = "error">{{error}}</h3>
		<form action='/signup' method='POST'>
			<div id="user-info" class="center-block">
				<div class="form-group">
					<label for="first-name-box">First Name</label>
					<input type="text" name="firstname" class="form-control" id="first-name-box" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="last-name-box">Last Name</label>
					<input type="text" name="lastname" class="form-control" id="last-name-box" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email-box">Email address</label>
					<input type="text" name="email" class="form-control" id="email-box" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="instructor-box">Instructor Code</label>
					<input type="password" name="isInstructor" class="form-control" id="instructor-box" placeholder="Instructor Code">
				</div>
				
			</div>
			<div id="class-signup" class="center-block">
				{% for subject in subjects %}
					<h2>{{subject}}</h2>
					{% for course in courses %}
						{% if course.subject == subject %}
							<h4>
								<input type="checkbox" id="{{course.subject}}" name="{{course.id|string}}" value="{{course.name}}" />
								{{course.name}}
							</h4>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</div>
			<center>
				<input type="submit" id="send-btn" class="btn" value="Signup" />
			</center>
		</form>
	</div>
</body>

</html>
